
    <footer>
        <div class="container footer-info">
            <div class="row">
                <div class="col-lg-4 footer-section">
                    <h5>Giới thiệu về chúng tôi</h5>
                    <p>JoyfulBox cam kết cung cấp trải nghiệm tặng quà tốt nhất có thể. Chúng tôi tuyển chọn các sản
                        phẩm chất lượng và đảm bảo giao hàng đúng hạn.</p>
                </div>
                <div class="col-lg-4 footer-section">
                    <h5>Theo dõi chúng tôi</h5>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/people/Joyful-Box/100086913023201/"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.tiktok.com/@joyful.box1?_r=1&_d=secCgYIASAHKAESPgo87BHbyXWBdKTrdOlEx0hIS%2BG1LEk7CEaQJ9pnpyx%2BflMo2ogCr23NaWp2hcm%2B81YC3GOnVkElwitIHLq1GgA%3D&checksum=54b359d9a737dd7b138912e9687d3a1f974ab564ab22b203f1e258ca609a4cb3&sec_uid=MS4wLjABAAAA0FFiIPCj2VOUrZ7ENOromtCHh9JSp9zfBPZ5XHqLzmYAgPqO79f90W3b86qc8GYP&sec_user_id=MS4wLjABAAAA0FFiIPCj2VOUrZ7ENOromtCHh9JSp9zfBPZ5XHqLzmYAgPqO79f90W3b86qc8GYP&share_app_id=1180&share_author_id=7393356500091307014&share_link_id=EB95AB2A-7B63-4BC4-B4EE-182E00946D7E&sharer_language=vi&social_share_type=4&source=h5_t&timestamp=1730379310&tt_from=copy&u_code=ef8c4g3gkfg6h8&ug_btm=b8727%2Cb0&user_id=7393356500091307014&utm_campaign=client_share&utm_medium=ios&utm_source=copy"
                            target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 footer-section">
                    <h5>Liên hệ với chúng tôi</h5>
                    <p>Email: support@JoyfulBox.com</p>
                    <p>Điện thoại: +1 (800) 123-4567</p>
                </div>
            </div>
        </div>
        <div class="text-center py-4">
            <p>&copy;2024 JoyfulBox. Bảo lưu mọi quyền.</p>
        </div>
    </footer>