<div class="mt-4">
     <form>
  <div class="form-group">
    <label for="search-input">Nhap tu</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
   
  </div>
  
  <button type="submit" class="btn btn-primary">tim kiem</button>
</form>
</div>